@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=DM+Serif+Display:ital@0;1&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
}
p, span {
  font-family: 'DM Sans', Avenir, Helvetica, Arial, sans-serif;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0,5s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}